<!DOCTYPE html>
<html lang="en"
      ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h1>Market</h1>
    <table class="table table-hover caption-top caption">
        <caption>Products</caption>
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
            <td>Info</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productList">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="addProduct(product.id)">Add to the cart</button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover caption-top">
        <caption>Cart</caption>
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>