<div class="container" ng-controller="indexController">
    <h1>Market</h1>
    <table class="table table-hover caption-top caption">
        <caption>Products</caption>
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
            <td>Info</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productList">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="changeAmount(product.id, 1)">Add to the cart
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover caption-top">
        <caption>
            Cart
            <button type="button" class="btn btn-danger" ng-click="clearCart()">Clear the cart</button>
            <button type="button" class="btn btn-success" ng-click="makeOrder()">Make the order</button>
        </caption>
        <thead>
        <tr>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>
                <button type="button" class="btn btn-danger" ng-click="deleteFromCartById(item.productId)">x</button>
                {{item.productTitle}}
            </td>
            <td>
                {{item.quantity}}
                <button type="button" class="btn btn-primary" ng-click="changeAmount(item.productId, 1)">+</button>
                <button type="button" class="btn btn-primary" ng-click="changeAmount(item.productId, -1)">-</button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>